{% extends 'billboardapp/base.html' %} 

{% block content %}
    
        {% for post in all_posts %}

        <!--container for messages-->
        <div class="messages-container" id="{{ post.id }}">

            <!--container for a specific post-->
            <div class="post-box">

                <p class="date-info">{{ post.created_date.day }}/{{ post.created_date.month }}/{{ post.created_date.year }} </p>


                {% if user.is_authenticated %}
                    <!--delete button-->
                    <p class="delete-container" alt="{{ post.id }}">-</p>
                {% endif %}

                <!--ppost title-->
                <p class="post-title">{{ post.title }}</p>

                <!--post content-->
                <p class="post-text"> {{ post.text }}</p>

                <!--username for post-->
                <p class="post-username"> {{ post.author }}</p>


                <!--container for all user comments-->
                <div class="comments-container container">

                    <p class="comment-title">Comments</p>

                    <!--container for one specific comment-->
                    <div class="comment-box">
                        <p class="comment-text"><span class="user-comment">Tomer : </span>This is the text for one comment</p>
                        <p class="delete-button">Delete</p>
                    </div>

                </div>
            </div>

        </div>

        {% endfor %}

        {% if user.is_authenticated %}
         <!-- ================================= CONTAINER FOR FORM AREA ========================================= -->
        <div id="input-container">

            <!--container for a specific post-->
            <div class="post-box">
                <p class="date-info">{{date_now.day}}/{{date_now.month}}/{{date_now.year}}</p>

                 <!--container for testing forms-->
                <form method="POST" class="post-form" id="new-post-form">
                    {% csrf_token %} 
                    {{ form.as_p}}
                </form>
            </div>
        </div>

        <!-- ================================= CONTAINER CONFIRM MESSAGE ========================================= -->
        <div id="confirm-message-container">
            <div class="container-buttons">
                <button id="button-cancel" type="button" class="btn btn-default red"><i class="fa fa-times" aria-hidden="true"></i></button>
                <button id="button-confirm" type="button" class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i></button>
            </div>
        </div>
    
        <!-- ===================================  CONTAINER ADD MESSAGE ==========================================-->
        <div id="addmessage-container">
            <button id="button-add" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
        
        {% endif %}
        

{% endblock %}